<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Cyber Security Base Project 1</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="centered-content">
        <h1>Cyber Security Base Project 1</h1>
        <br>
        <h2>Forum Application</h2>
        <hr>

        {% block content %}{% endblock %}
    </div>
</body>
</html>